<div class="contact-dialog-cont">
  <h3>Edit Contact</h3>


  <mat-form-field appearance="outline">
    <mat-select name="contactTypeVaraible" [(value)]="selectedContactType" placeholder="Contact Type" [(ngModel)]="editObj.contactType">
      <mat-option *ngFor="let st of ctList" [value]="st.contactType">
        {{st.contactType}}
      </mat-option>
    </mat-select>
  </mat-form-field><br>


  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Full Name</mat-label>
    <input matInput placeholder="ex. Eren Yeager" [(ngModel)]="editObj.fullName"  value="Sushi">
    <mat-icon matSuffix>stars</mat-icon>
    <!-- <mat-hint>Hint</mat-hint> -->
  </mat-form-field><br>
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Mobile No.</mat-label>
    <input matInput placeholder="ex. +639123456789r" [(ngModel)]="editObj.mobileNumber">
    <mat-icon matSuffix>stars</mat-icon>
  </mat-form-field><br>
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Email</mat-label>
    <input matInput placeholder="ex. eren.yeager@email.com" [(ngModel)]="editObj.email">
    <mat-icon matSuffix>stars</mat-icon>
  </mat-form-field><br>
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Date Updated</mat-label>
    <input matInput placeholder="ex. May 2, 2023" [(ngModel)]="editObj.dateUpdated">
    <mat-icon matSuffix>stars</mat-icon>
  </mat-form-field><br>
  <div class="action-cont">
    <button mat-raised-button mat-dialog-close color="warn" (click)="cancelEdit()">Cancel</button>
    <button mat-raised-button mat-dialog-close color="primary" class="margin-left" (click)="submitEdit()">Update</button>
  </div><br>
</div>