.table-cont{
    overflow-x: auto;
}
.th{
    padding: 0 10px 0 0
}
.table-cont-j{
    display: inline-block;
    overflow-x: auto;
}
.td{
    padding: 0 10px 0 0
}
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 0;
}
th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
    padding-right: 0;
}
.pl-ten{
    padding-left: 10px;
}

.personal {
    color: #003f5c;
}
.header-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.service {
    color: #bc5090;
}

.emergency {
    color: #ffa600;
}




/* @media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
} */