/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
body{
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Crimson Text', serif;
}
.j-cont{
    max-width: 1600px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
}
.text-ceter{
    text-align: center;
}
.margin-center{
    margin: 0 auto;
}